// Specific CSS for your home-page
.index {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPvDWPvsYb6K-WsC6nRlPYV6aRIj1xGeNELg&s);
  background-size: cover;
  background-position: center;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  height: 100px;
  background-color: white;
  background-size: contain, cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.6);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 0 2px 2px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    text-decoration: none;
    color: black;

  }
  &:hover{
    background-color: black;
    color: white;
    transition: 3s;
  }
}
