.show {
  background-size: cover;
  background-position: center;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-show {
  height: 200px;
  background-color: white;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.6);
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.show-btn {
display: flex;
justify-content: end;
}
